footer {
    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-top: 120px;
    padding: 20px 100px;
    background-color: #010851;
    color: white;
}

.footer__info {
    width: 34%;
}

form button {
    background-color: #ed80fd;
    color: white;
    border: none;
}

input {
    padding: 17px;
    margin-right: -20px;
    width: 220px;

    border: none;
    border-radius: 10px;
    background-color: 4548688c;
}

table {
    font-family: "Jost";
    text-align: left;
}

th {
    height: 80px;
}

tr {
    height: 40px;
}

td {
    padding-right: 50px;
}

td a {
    color: white;
}