#section-2 {
    padding: 50PX 180px;
    background-color: #ED80FD27;
}

.section-2__info {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 50px 0px;
}

.title__pink {
    color: #ED80FD;
}