.tabla {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
   }
   
   .tabla td {
    padding: 10px;
    background-color: yellow;
    border: 2px dotted #000;
  
   }

   .tabla tr:first-child td {
    color: red;
    text-align: center;
   }
   
   .primer::first-letter {
    text-transform: capitalize;
    font-size: 2.5cap; 
}

.tabla tr:last-child td {
    border-bottom: 2px solid red;
    border-style: dashed;
   }